@model ChallengeSGB.Helpers.PromedyResults
@section Scripts{
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="~/js/Graphics.js"></script>
}

<h1>Promedios</h1>
<p>
    <a asp-action="Create">Crear nueva encuesta</a>
    <a asp-action="Index">Volver al indice</a>
</p>

<br>
<div class="Stats">
    <div class="SimpleStat">
        <h6>Promedio de peliculas vistas por usuario</h6>
        <h1>@Html.DisplayTextFor(model => model.viewsPerUser)</h1>
    </div>
    <div class="SimpleStat">
        <h6>Encuestas realizadas</h6>
        <h1>@Html.DisplayTextFor(model => model.encuestas.Count)</h1>
    </div>
</div>


<div class="Chart" id="perPeriodContainer"></div>
<div class="Chart" id="perAgeContainer"></div>
<div class="Chart" id="perSexContainer"></div>
<div class="Chart" id="perPeriodAndSexContainer"></div>