html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.TableHead {
    color:white;
    font-weight:600;
    padding: 10px 20px 0px 20px;
    display:flex;
    justify-content:space-between;
    width: 80vw;
    height:fit-content;
    background-color: rgb(0, 0, 0, 0.6);
}

.Stats{
    width: 85vw;
    display:flex;
    justify-content:center;
    gap:10vw;
    margin-bottom: 10vh;
}

.SimpleStat {
    color: white;
    font-weight: 600;
    padding: 10px 20px 5px 20px;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(53, 174, 121);
}

.Chart {
    margin-top: 12vh;
}